@media only screen and (max-width: 1170px) {
  .codeAchieve {
    background-size: 90%;
  }
  /* ------------------------ */
  .hero .slider h1 {
    font-size: 5rem;
  }
  .nav-list li a {
    margin: 0 5px;
  }

  .navbar {
    padding: 20px 0;
  }
}

@media only screen and (max-width: 992px) {
  a,
  p,
  h1,
  h2 {
    font-size: 90%;
  }
  /* ------------------------ */

  .codeAchieve {
    background-size: 97%;
  }
  .codeAchieve .area {
    width: 1.8rem;
    height: 2.9rem;
  }
  /* ------------------------ */
  .hero .slider h1 {
    font-size: 4rem;
  }
  .hero-btn a {
    padding: 0.6rem 3rem !important;
  }
  /* ------------------------ */

  .nav-list li a {
    margin: 0;
    padding: 0.6rem 0.5rem;
  }

  .navbar {
    padding: 20px 0;
  }

  .hero .slider h1 {
    padding: 30px 0;
    font-size: 86px;
    line-height: 96px;
  }
  .hero-btn button {
    padding: 0.6rem 3rem;
    font-size: 1.2rem;
    font-weight: 600;
  }
}
@media only screen and (max-width: 852px) {
  /* ------------------------ */

  .codeAchieve {
    background-size: 110%;
  }
  /* ------------------------ */
  .hero .slider h1 {
    font-size: 3rem;
  }
  .nav-list li a {
    padding-left: 6px;
  }

  .header {
    padding: 0 0 0.5rem;
  }
  .header .logo {
    width: 10rem;
    height: auto;
  }
  .header .logo img {
    width: 23%;
  }
  .navbar {
    display: none;
    text-align: center;
    transition: all 0.5s ease-in-out;
  }
  .nav-list {
    transform: translateY(0px);
    width: 100%;
    flex-direction: column;
    margin: 1rem auto;
    padding: 10px 0;
    z-index: 10;
    transition: all 0.5s ease-in-out;
  }
  .nav-list li {
    margin: 7px 0;
    transition: all 0.5s ease;
  }
  .v-class-resp li a,
  .v-class-resp li {
    transition: 0s;
  }
  .burger {
    cursor: pointer;
    display: block;
    position: absolute;
    right: 12%;
    top: 27px;
    transition: all 0.5s ease-in-out;
  }
  .h-nav-resp {
    display: flex;
    align-items: center;
    height: 60px;
    transition: height 0.5s ease-in-out;
  }
  .btn-main {
    margin: auto;
  }
  .v-class-resp {
    opacity: 0;
    transform: translateY(-350px);
    transition: all 0.5s ease-in-out;
  }

  /* --------------------------- */
  /* about */
  .about .about-img {
    max-width: 29rem;
    flex: 100%;
  }
  .about .about-text {
    flex: 100%;
  }
  /* --------------------------- */
  /* contect */
  .form {
    width: 70%;
  }
}
@media only screen and (max-width: 675px) {
  .codeAchieve {
    background-size: 130%;
  }
  .footer .footer-icones {
    gap: 1rem;
  }
  .footer .footer-links {
    gap: 0;
  }
  .footer .footer-links a {
    flex: 100%;
    gap: 0;
  }
  /* scroll btn */
  #myBtn {
    padding: 0.7rem;
    font-size: 1rem;
  }
}
